<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/start.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class='have-colour'>
      <div style="background-color:#000000;" class="colour navbar">
        <span class="nav-text a">HBD SaiK</span>
        <span class="nav-text b"><a href=""><span>JohnCena?</span></a></span>
        <span class="nav-text b"><a href=""><span>Dean Ambrose?</span></a></span>
        <span class="nav-text b"><a href=""><span>Sai?</span></a></span>
      </div>
      <div style="background-color:#61bb46;" class="colour"></div>
      <div style="background-color:#fdb827;" class="colour"></div>
      <div style="background-color:#f5821f;" class="colour"></div>
      <div style="background-color:#e03a3e;" class="colour"></div>
      <div style="background-color:#963d97;" class="colour"></div>
      <div style="background-color:#009ddc;" class="colour"></div>
    </div>
    <div class="content">
    </div>
  </body>
</html>
